.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 47px;
  background-color: white;
}

.start-header {
  color: white;
  background-color: blue;
  width: 250px;
  display: flex;
}

.hambuger-menu {
  width:50px;
}

.logo {
  width:50px;
}

.text-logo {
  width: 100px;
}

.center-header {
  color: white;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: pink;
  margin-left: 83px;
  margin-right: 17px;
  max-width: 580px;
}

.search-box {
  flex: 1;
  height: 34px;
  border-radius: 20px 0px 0px 20px;
  border-width: 1px;
}

.search-button {
  width: 60px;
  height: 40px;
  margin-right: 20px;
  border-radius: 0px 20px 20px 0px;
}

.microphone-button {
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  border: none;
  background-color: gray;
}

.serach-img {
  width: 30px;
  padding-top: 2px;
}

.microphone-img {
  width: 18px;
  padding-top: 2px;
}

.end-header {
  color: white;
  width: 220px;
  background-color: blue;
}