.subscribe-button {
  color: white;
  background-color: rgb(193, 2, 2);
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: .85;
} 

.subscribe-button:active {
  opacity: .70;
}

.join-button {
  background-color: white;
  color: rgb(6, 96, 164);
  border-color: rgb(6, 96, 164);
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  padding: 9px 20px; 
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s;
  vertical-align: top;
}

.join-button:hover {
  background-color: rgb(6, 96, 164);
  color: white;
}

.tweet-button {
  color: white;
  background-color: rgb(20, 140, 215);
  border-radius: 20px;
  padding: 10px 20px;
  border: none; 
  cursor: pointer;
  font-weight: bold; 
  font-size: 16px;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}
  .tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  }